/* all */

body {
    font-family: Arial, Verdana, Sans-Serif;
    font-size: 1em;
}

/* homepage */

div#homepage {
    width: 80%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

div#homepage div#logo {
    text-align: center;
    margin: 0 auto;
    padding: 10px 0 10px 0;
}

div#homepage div#searchbox {
    text-align: left;
    width: 380px;
    margin: 0 auto;
    padding: 3px 10px;
    border: 1px dotted #5e7582;
}

div#homepage div#searchbox form p input#q {
    width: 300px;
    margin: 0 10px 0 0;
    padding: 0;
}

#div { border: 1px solid #f00; }
